# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# Virtual env
# =========================
venv/
.venv/

# =========================
# Env (TOKENS)
# =========================
.env

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Tests / build
# =========================
.pytest_cache/
.mypy_cache/
ruff_cache/
dist/
build/
*.egg-info/

# =========================
# SQLite
# =========================
# IMPORTANT : on push bot.db donc on n'ignore PAS *.db
# (si un jour tu veux arrêter de la push, ajoute *.db ici)